* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

fieldset {
  width: 400px;
  border-radius: 5px;
  border: 2px solid #000000;
  background-color: aliceblue;
}

legend {
  font-size: 48px;
  padding: 10px 20px;
  margin: 10px 20px;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-container {
  padding: 10px;
  margin: 10px;
}

.form-container label {
  font-size: 16px;
}

.form-container input {
  display: block;
  width: 95%;
  padding: 7px;
  font-size: 16px;
}

#addTable {
  padding: 10px 20px;
  display: flex;
  width: 81%;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  margin-bottom: 20px;
}

table,
td {
  background-color: aliceblue;
  padding: 2px;
  border: 2px solid black;
}
